<script setup lang="ts">
import type { StarItem } from "@/stores/interface";
import { onBeforeMount, ref } from "vue";

interface Star {
  url: string;
  title: string;
}

const starList = ref<Star[]>([]);

onBeforeMount(() => {
  const stars: StarItem[] = JSON.parse(
    localStorage.getItem("starlist") || "[]"
  );
  for (const i of stars) {
    const { param_id, cur, title } = i;

    starList.value.push({
      url:
        "/player.html?id=" + param_id + (cur === 0 ? "" : "&p=" + (+cur + 1)),
      title,
    });
  }
});
</script>
<template>
  <div>
    <details>
      <summary>展开</summary>
      <ul>
        <li v-for="(item, index) in starList" :key="index">
          <a :href="item.url" target="blank">{{ item.title }}</a>
        </li>
      </ul>
    </details>
  </div>
</template>
